@model DataProject.Models.EditModel
@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary(true, "")
        <div>
            <p>Year: @Html.EditorFor(model => model.Year)</p>
        </div>

        <div>
            <div>
                <input type="submit" value="Сохранить" />
            </div>
        </div>
    </div>
}


